*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

@font-face {
	font-family: "HelveticaNeueCyrBold";
	src:url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff);
}

@font-face {
	font-family: "HelveticaNeueCyrMedium";
	src:url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff);
}

@font-face {
	font-family: "HelveticaNeueCyrRoman";
	src:url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff);
}

body {
	font-family:HelveticaNeueCyrRoman, sans-serif;
	background-color:#ffffff;
}

.wrapper {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
}

.header {
	flex: 0 0 100%;
	background-image: url(../files/header/main.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background-position:center;

	display:flex;
	flex-direction:column;
}

.header-top {
	padding-top:32px;
	background-color:rgba(0, 0, 0, 0.2);

	flex: 0 0 auto;
}

.header-top__container {
	max-width:1200px;
	padding:0 15px;
	margin:0 auto;
}

.header-top__row {
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.header-top__logo {
	flex:0 0 134px;
	z-index:2;
}

.header-top__logo img {
	max-width:100%;
}

.header-top__content {
	flex:1 1 auto;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.header-top__burger {
	display:none;
}

.header-top__menu {
	margin-right:135px;
}

.header-top__list {
	display:flex;
}

.header-top__link {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;

	margin-right:15px;

	position:relative;
}

.header-top__link::after {
	display: block;
	position: absolute;
	bottom:-5px;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: white; 
	content: "";
	transition: width 0.3s ease-out; 
}

.header-top__link:hover::after {
	width: 100%;
}

.header-top__link:active {
	color:#1fc5cc;
}

.header-top__link:active::after {
	background-color:#1fc5cc;
}

.header-top__list li:last-child .header-top__link{
	margin:0;
}

.header-top__phones {
	display:flex;
	flex-direction:column;
}

.header-top__phone {
	color: #ffffff;
	font-family: Oswald;
	font-size: 18px;
	font-weight: 400;
}

.header-top__phone:hover {
	color:#1fc5cc;
}

.header-top__phone:first-child {
	margin:10px 0 4px;
}

.header-top__phone:nth-child(2) {
	margin:4px 0 10px;
}

@media(max-width:1200px) {

	.header-top {
		padding-top:16px;
	}

	.header-top__burger {
		display:block;
		width:35px;
		height:24px;

		cursor:pointer;

		z-index:10;
	}

	.header-top__burger.active {
		position:fixed;
		right:20px;
		top:70px;
	}

	.header-top__burger span {
		display:block;
		width:100%;
		height:3px;
		margin-bottom:7.5px;

		background-color:white;

		transition-duration:0.5s;

		transition-timing-function:linear;
	}

	.header-top__burger span:nth-child(3) {
		margin-bottom:0;
	}

	.header-top__burger.active span:nth-child(1) {
		transform: translate(12px ,5px) rotate(45deg) scaleX(0.5);	
	}

	.header-top__burger.active span:nth-child(3) {
		transform:translate(12px ,-5px) rotate(-45deg) scaleX(0.5);
	}

	.header-top__content {
		position:fixed;
		top:0;
		right:-100%;
		width:300px;
		height:100%;

		background-color:rgba(0, 14, 26, 0.9);;

		flex-direction:column;
		justify-content:flex-start;
		align-items:stretch;


		padding:150px 10px 20px 10px;

		transition-duration:0.5s;
		transition-timing-function:linear;

		z-index:5;
	}

	.header-top__content.active {
		right:0;
	}

	.header-top__menu {
		margin:0;
	}

	.header-top__list {
		flex-direction:column;
		align-items: stretch;
		width:100%;
	}

	.header-top__link {
		display:block;
		margin:0;
		padding:15px 0 15px 0;
		font-size:22px;

		border-bottom:1px solid white;
	}

	.header-top__link:hover {
		color:#028ea7;
	}

	.header-top__link::after {
		display:none;
	}

	.header-top__phones {
		margin-top:20px;
	}

	.header-top__phone{
		font-size:22px;
	}

	.header-top__phone:first-child {
		margin:15px 0 7.5px;
	}

	.header-top__phone:nth-child(2) {
		margin:7.5px 0 15px;
	}
}

.header-bottom {
	background-color:rgba(0, 0, 0, 0.2);

	position:relative;

	flex:1 0 auto;
}

.header-bottom__column {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;

	padding:0 15px ;

	position:absolute;
	top:50%;
	width:100%;	
	transform:translateY(-50%);
	margin-top:-20px;
}

.header-bottom__title {
	color:#ffffff;
	font-family: HelveticaNeueCyrBold;
	font-size: 72px;
	font-weight: 700;
	letter-spacing: 14.4px;
	line-height: 80px;
	text-transform: uppercase;
}

.header-bottom__time {
	display:block;
	margin-top:24px;
}

.header-bottom__place {
	color: #ffffff;
	font-family: HelveticaNeueCyrBold;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;

	margin-top:70px;
}

.header-bottom__btn {
	width: 298px;
	height:65px;
	border-radius: 5px;
	background-color: #01b84f;

	color: #ffffff;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 500;

	margin-top:64px;
	margin-bottom:12px;

	line-height:65px;
}

.header-bottom__btn:hover {
	background-color:rgba(30, 224, 89, 1);
}

.header-bottom__btn:active {
	transform:translateY(2px);
}

@keyframes translating {
	0%   { transform: translateY(0px); }
	50%  { transform: translateY(6px); }
	100%  { transform: translateY(0px); }
}


.header-bottom__arrow {
	animation:translating 1.3s ease-out infinite;
}


@media(max-width:992px) {
	.header-bottom__column {
		margin:0;
	}

	.header-bottom__title {
		font-size: 62px;
		letter-spacing: 7.4px;
		line-height: 75px;
	}

	.header-bottom__time {
		margin-top:10px;
	}

	.header-bottom__place {
		font-size: 28px;

		margin-top:30px;
	}

	.header-bottom__btn {
		margin-top:50px;
		margin-bottom:42px;
	}
}

@media(max-width:576px) {

	.header-bottom__title {
		font-size: 40px;
		letter-spacing: 6px;
		line-height: 50px;
	}

	.header-bottom__time {
		margin-top:15px;
	}

	.header-bottom__place {
		font-size: 24px;

		margin-top:20px;
	}

	.header-bottom__btn {
		margin-top:40px;
		margin-bottom:12px;

		font-size:22px;
	}
}

@media(max-width:345px) {
	.header-bottom__title {
		font-size: 36px;
		letter-spacing: 5px;
		line-height: 40px;
	}

	.header-bottom__time {
		margin-top:10px;
	}

	.header-bottom__place {
		font-size: 22px;
		line-height: 30px;

		margin-top:10px;
	}

	.header-bottom__btn {
		margin-top:20px;
		margin-bottom:12px;

		font-size:20px;

		width: 250px;
		height:50px;

		line-height:50px;
	}
}

.content {
	flex: 1 1 auto;
}

.about {
	padding:111px 15px 53px;
	background-color:white;

	text-align:center;
}

.about__title {
	color: #000000;
	font-family: HelveticaNeueCyrMedium;
	font-size: 24px;

	margin-bottom:52px;
}

.about__title_main {
	font-size: 48px;

	
	margin-bottom:75px;
}

.about__text {
	color: #000000;
	font-family: HelveticaNeueCyrRoman;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	
	max-width:629px;
	margin:0 auto 35px;
}

.about__text_third {
	max-width:546px;
}

.about__text_main {
	max-width: 657px;
	margin:0 auto 72px;
}

@media(max-width:1200px) {
	.about {
		padding:80px 15px 13px;
	}

	.about__title {
		margin-bottom:35px;
	}

	.about__title_main {
		margin-bottom:55px;
	}

	.about__text {
		margin-bottom:35px;
	}

	.about__text_main {
		margin-bottom:55px;
	}
}

@media(max-width:992px) {
	.about {
		padding:60px 15px 13px;
	}

	.about__title {
		margin-bottom:32px;
	}

	.about__title_main {
		margin-bottom:45px;
	}

	.about__text {
		margin-bottom:35px;
	}

	.about__text_main {
		margin-bottom:55px;
	}
}

@media(max-width:576px) {
	.about {
		padding:30px 15px 13px;
	}

	.about__title {
		margin-bottom:25px;
	}

	.about__title_main {
		margin-bottom:30px;
	}

	.about__text {
		margin-bottom:35px;
	}

	.about__text_main {
		margin-bottom:55px;
	}
}

@media(max-width:345px) {
	.about__title_main {
		font-size:42px;
	}
}

.areas {
	padding:18px 0 70px;
	background-color:white;
}

.areas__title {
	color: #000000;
	font-family: HelveticaNeueCyrRoman;
	font-size: 48px;
	font-weight: 400;

	text-align:center;

	margin-bottom:81px;
}

.areas__container {
	max-width:1212px;
	margin:0 auto;
}

.areas__row {
	display:flex;
	justify-content:space-between;

}

.areas__column_b_first {
	flex:0 1 728px;

	display:flex;
	justify-content:space-between;

}

.areas__column_first {
	flex:0 1 434px;
	
}

.areas__block {
	width: 100%;
	height: 100%;
	border-radius:5px;
	
}

.areas__link {
	display: block;
	width:100%;
	height:100%;

	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: 35px;

	text-align:center;

	position:relative;
	background-image: linear-gradient(rgba(24, 74, 79, 0.7) 0%, rgba(6, 10, 36, 0.7) 100%);
	
	border-radius:5px;
}

.areas__link span {
	position:absolute;
	display:block;
	width:100%;
	top:50%;
	transform:translateY(-50%);
}

.areas__link:hover {
	background-image: linear-gradient(rgba(6, 10, 36, 0.7) 0%, rgba(24, 74, 79, 0.7) 100%);
}

.areas__block_first {
	width:100%;
	height:755px;
	background-image:url(../files/areas/first.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;	
}

.areas__column_second {
	flex:0 1 271px;


	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.areas__block_second,
.areas__block_third{
	flex:0 0 366px;
}

.areas__block_second {
	background-image:url(../files/areas/second.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

.areas__block_third {
	background-image:url(../files/areas/third.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}


.areas__column_b_second {
	flex:0 1 463px;

	display:flex;
	justify-content:space-between;

}

.areas__column_third {
	flex:0 1 220px;

	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.areas__block_fourth,
.areas__block_fifth,
.areas__block_sixth {
	flex:0 0 236.333px;
}

.areas__block_fourth {
	background-image:url(../files/areas/fourth.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

.areas__block_fifth {
	background-image:url(../files/areas/fifth.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

.areas__block_sixth {
	background-image:url(../files/areas/sixth.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

.areas__column_fourth {
	flex:0 1 220px;

	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.areas__block_seventh,
.areas__block_eighth {
	flex:0 0 366px;
}

.areas__block_seventh {
	background-image:url(../files/areas/seventh.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

.areas__block_eighth {
	background-image:url(../files/areas/eighth.png);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
}

@media(max-width:1212px) {
	.areas__row {
		flex-direction:column;
	}

	.areas__column_b {
		flex:1 1 auto;
		justify-content:center;
	}

	.areas__block {
		margin-bottom:23px;
	}

	.areas__column_first {
		margin-right:23px;
	}

	.areas__column_third {
		margin-right:23px;
	}

	.areas__column_third {
		flex:0 1 271px;
	}

	.areas__column_fourth {
		flex: 0 1 434px;
	}

	.areas {
		padding:10px 0 10px;
	}

	.areas__title {
		color: #000000;
		font-family: HelveticaNeueCyrRoman;
		font-size: 48px;
		font-weight: 400;

		text-align:center;

		margin-bottom:61px;
	}
}


@media(max-width:728px) {
	.areas__column_b {
		flex-direction:column;
		justify-content:stretch;
		align-items:center;
	}

	.areas__column {
		flex:1 0 auto;
		width:340px;
	}

	.areas__block {
		height:450px;
		flex:0 1 auto;
	}

	.areas__column_first {
		margin-right:0;
	}

	.areas__column_third {
		margin-right:0;
	}

	.areas {
		padding:10px 0 10px;
	}

	.areas__title {
		margin-bottom:61px;
	}
}

@media(max-width:576px) {
	.areas {
		padding:10px 0 10px;
	}

	.areas__title {
		margin-bottom:45px;
	}
}


@media(max-width:345px) {
	.areas__title {
		font-size:42px;
	}
}

.registration {
	background-color:#ffffff;
	padding:72px 0 111px;
}

.registration__title {
	color: #000000;
	font-family: HelveticaNeueCyrMedium;
	font-size: 48px;
	font-weight: 500;

	text-align:center;

	margin-bottom:54px;
}

.registration__title span {
	display: block;
	margin-top:7px;
}

.registration__address {
	color: #000000;
	font-family: HelveticaNeueCyrRoman;
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;

	text-align:center;

	margin-bottom:63px;

	padding:0 15px;
}

.registration__form {
	max-width:718px;
	margin:0 auto;

	padding:0 15px;
}

.registration__form input {
	width:100%;
	border-bottom: 1px solid #000000;

	padding:9px 0 9px 18px;

	color: #000000;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	line-height: 35px;
}

.registration__form input:first-child {
	margin-bottom:15px;
}

.registration__form button {
	width: 298px;
	height: 65px;
	background-color: #01b84f;
	border-radius:5px;

	display:block;
	margin:70px auto 0;

	color: #ffffff;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 500;
}

.registration__form button:hover {
	background-color:rgba(30, 224, 89, 1);
}

.registration__form button:active {
	transform:translateY(2px);
}

@media(max-width:1200px) {
	.registration {
		padding:52px 0 88px;
	}

	.registration__title {
		margin-bottom:54px;
	}

	.registration__title span {
		margin-top:7px;
	}

	.registration__address {
		margin-bottom:63px;
	}

	.registration__form {
		max-width:688px;
	}
}

@media(max-width:992px) {
	.registration {
		padding:42px 0 68px;
	}

	.registration__title {
		margin-bottom:40px;
	}

	.registration__title span {
		margin-top:7px;
	}

	.registration__address {
		margin-bottom:53px;
	}

	.registration__form {
		max-width:688px;
	}
}

@media(max-width:576px) {
	.registration {
		padding:22px 0 30px;
	}

	.registration__title {
		margin-bottom:40px;

		font-size: 44px;
	}

	.registration__title span {
		margin-top:5px;
	}

	.registration__address {
		margin-bottom:40px;
	}

	.registration__form {
		max-width:688px;
	}

	.registration__form button {
		margin-top:40px;
	}
}

@media(max-width:345px) {
	.registration__title {
		margin-bottom:40px;

		font-size: 40px;
	}

	.registration__form button {
		width: 250px;
		height: 50px;

		font-size: 20px;
	}
}



.footer {
	flex:0 1 auto;
	padding:110px 0 115px;

	background-color:#000000;
}

.footer__container {
	max-width:1170px;
	margin:0 auto;
}

.footer__row {
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.footer__column_second {
	display:flex;
	flex-direction:column;
}

.footer__phone {
	color: #ffffff;
	font-family: Oswald;
	font-size: 18px;
	font-weight: 400;

	margin-bottom:-5px;
}

.footer__mail {
	color: #ffffff;
	font-family: Oswald;
	font-size: 18px;
	font-weight: 400;
}

.footer__column_third {
	display:flex;
	align-items:center;
}

.footer__column_third a {
	margin-right:15px;
}

.footer__column_third a:last-child {
	margin-right:0;
}

@media(max-width:1200px) {
	.footer {
		padding:90px 0 90px;
	}
}

@media(max-width:992px) {
	.footer {
		padding:60px 0 60px;
	}

	.footer__row {
		flex-direction:column;
	}

	.footer__column {
		margin-bottom:35px;
	}
}

@media(max-width:576px) {
	.footer {
		padding:50px 0 40px;
	}
}